@charset "ISO-8859-1";

body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
	text-align: center;
}

li:not(:last-child) {
    margin-bottom: 0.5em;
}

form {
	margin: auto;
    width: 50%;
    padding: 1rem;
    border: solid;
    border-color: gray;
    text-align: center;
}

.main {
	margin: auto;
	width : 80%;
	text-align: center;
}

.menu {
	width : 60%;
	margin: auto;
	text-align: center;
	border: solid;
	border-color: gray;
}

.catalogue{
	width : 60%;
	margin: auto;
	margin-bottom: 1.5rem;
}

