@charset "ISO-8859-1";

body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.main {
	margin: auto;
	width : 80%;
	text-align: center;
}

.menu {
	width : 60%;
	margin: auto;
	text-align: justify;
}